---
import logo from '../images/logo.svg'
---
<header class="header bg-slate-800 w-full">
    <div class="h-max flex items-center justify-between px-5 gap-x-5">
      <div class="logo">
        <a class="mx-5" href="/">
          <img src={logo} alt="" width="100px" height="25px" />
        </a>
      </div>
      <nav>
        <ul class="flex gap-10">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header>